body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-container {
    width: 70vw;
    height: 70vh;
    background-color: grey;
    border: black solid 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}